CREATE DATABASE tienda_technova; USE tienda_technova; CREATE TABLE usuarios (id_usuario INT AUTO_INCREMENT PRIMARY KEY, nombre VARCHAR(100), mail VARCHAR(100), password VARCHAR(100)); CREATE TABLE equipos (id INT AUTO_INCREMENT PRIMARY KEY, marca VARCHAR(50), nombre VARCHAR(50), cantidad INT, precio DECIMAL(10,2));
