{% extends "base.html" %}

{% block title %}Nosotros - CeluStore{% endblock %}

{% block content %}
    <div style="background: #fdfdfd; padding: 30px; border-radius: 10px; border: 1px solid #eee;">
        <h1 style="color: #2c3e50;">Sobre CeluStore</h1>
        <p>Este proyecto es parte de la <strong>Semana 10</strong> del curso de Desarrollo Web.</p>
        <p>Hemos aprendido a utilizar <strong>Jinja2</strong> para no tener que repetir el código del menú en cada página.</p>
        
        <h3 style="color: #2c3e50;">Características Técnicas:</h3>
        <ul>
            <li>Uso de <strong>Herencia de Plantillas</strong> (base.html).</li>
            <li>Renderización dinámica de datos desde Python.</li>
            <li>Estructura profesional de carpetas (static y templates).</li>
        </ul>
        <a href="{{ url_for('index') }}" style="color: #3498db; text-decoration: none;">← Volver al inicio</a>
    </div>
{% endblock %}